body {
    background-color: burlywood;
   }
   
.header {
    background-color: yellow;
    height: 50px;
    text-align: center;
   }
.section {
    height: 70vh; /* 70% del alto de la parte visible de la ventana */
   }

#articulo {
    font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
   }
   
.footer {
    font-size: 10px;
    background-color: black;
    color: white;
   }
   
.cuadrado {
    background-color: chocolate;
    /*opacity: 0.5;*/
    width: 100px;
    height: 100px;
   }
   