body {
    margin: 100px;
}

.caja_zapato {
    /*margin-top: 50px;
    margin-bottom: 60px;        se puede usar una versión reducida aunque el valor sea
    margin-left: 70px;          diferente... 'margin: top right bottom left;'
    margin-right: 80px;*/

    /*padding-top: 25px;
    padding-bottom: 25px;       Como en todas las ubicaciones el padding es exactamente el mismo
    padding-left: 25px;         se puede simplificar utilizando 'padding 25px;'
    padding-right: 25px;*/

    margin: 50px 80px 60px 70px;
    
    padding: 25px;

    border: 5px solid red;

    /*display: block;              Los elementos inline se comportan como los block */
    display: inline;               /* Los elementos block se comportan como inline */
}